{% extends "auctions/layout.html" %}

{% block body %}      
    <h2>Subastas activas</h2>  
    {%for subasta in subastas%}
    <ul>
        <li> 
            {%if user.is_authenticated%}
            <div>  
                <a href="{% url 'ver_subasta' subasta.id %}">{{subasta.nombre_producto}}</a><br>
                {{subasta.descripcion_producto}}<br>
                {{subasta.imagen_producto}}<br>  
                {{subasta.precio_inicial}}<br>           
                </div>
            {%else%}
            <div>  
            <a href="{% url 'ver_subasta' subasta.id %}">{{subasta.nombre_producto}}</a><br>
            {{subasta.descripcion_producto}}<br>
            {{subasta.imagen_producto}}<br>  
            {{subasta.precio_inicial}}<br>           
            </div> 
            {%endif%}
        </li>
    </ul>
    {%empty%}
    No hay subastas activas
    {%endfor%}
    {%if user.is_authenticated%}    
    <h2>        
        <a href="{% url 'datosubasta' user.id %}">Crear subasta</a>        
    </h2>    
    {%endif%}
{% endblock %}