{% extends "auctions/layout.html" %}

{%block body%}
<h4>    
    {{subasta.nombre_producto}}
</h4>
<h5>
    {{subasta.descripcion_producto}}<br>
    {{subasta.imagen_producto}}<br>
    {{subasta.precio_inicial}}<br>    
</h5>
<div>
{# Si el usuario está autenticado, puede agregar o eliminar el producto de la watchlist#}
{% if user.is_authenticated %}
    {%if c > 0 %}                
        <form action="{% url 'eliminar_watchlist' user.id %}" method="POST">
        {%csrf_token%}
        <input type="hidden" name="id_producto" id="id_id_producto" value={{subasta.id}}>
        <input type="Submit" value="Eliminar de Watchlist">           
    {%else%}                
        <form action="{% url 'agregar_watchlist' user.id %}" method="POST">
        {%csrf_token%}
        <input type="hidden" name="id_producto" id="id_id_producto" value={{subasta.id}}>
        <input type="Submit" value="Agregar a Watchlist">
    </form>
    {%endif%}
{%endif%}
</div>
{# Si el usuario está autenticado, puede pujar #}
<div>    
    {% if user.is_authenticated %}
    <form action="{% url 'pujar' subasta.id %}" method="POST">        
        {%csrf_token%}  
        <input type="hidden" name="oferente" id="id_oferente" value={{user.id}}>
        <input type="hidden" name="subasta" id="id_subasta" value={{subasta.id}}>
        <input type="number" name="precio" id="id_precio" value={{subasta.precio_inicial}} min={{subasta.precio_inicial}}> 
        <input type="Submit" value=Pujar>                    
    </form><br>
    {% endif %}    
</div>
<div>
    {# Si el usuario es el creador, puede cerrar la subasta#}
    {% if user.is_authenticated %}    
        {% if user.id == id_creador %}
        <form action="{% url 'cerrar' subasta.id %}" method="POST">
            <input type="Submit" value=Cerrar>                    
            {%csrf_token%}  
            <input type="hidden" name="creador" id="id_creador" value={{user.id}}>            
        </form><br>
        {%endif%}    
    {% endif %}
</div>
<div>
    {#Si el usuario está autenticado, puede comentar#}    
        {%if user.is_authenticated%}    
        <form action="{% url 'comentar' subasta.id %}" method="POST">                                
        {%csrf_token%}  
        {{comentario.as_p}}       
        <input type="Submit" value="Publicar comentario">                       
    </form><br>    
    {% endif %}   
</div>
<div>  
    <h2>Comentarios</h2>   
    <ol>
        {%if a > 0 %}
            {%for opinion in opiniones%}
            <li>{{opinion}} </li>             
            {%endfor%}
        {%endif%}
    </ol>
</div>
<div>
    {%block erroruser%}
    
    {%endblock%}
</div>
{%endblock%}
<div>
    {%block comentario%}
    {%endblock %}
</div>
